.color-title{
    font-weight: normal;
}

img{
    height: 200px;
    width: 200px;
}

#blue{
    color:blue;
}

#red{
    color:red;
}

#orange{
    color:orange;
}

#green{
    color:green;
}

#yellow{
    color:yellow;
}