<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>My Blog</h1></div>
           </div>
        <div class="content">
            <div class="card">
                <h1>{{  posts[num]['title']  }}</h1>
                <h2>{{  posts[num]['subtitle']  }}</h2>
                <p>{{  posts[num]['body']  }}</p>
            </div>

    </div>
</div>
</body>
<footer>
    <p>Made with ♥️ in Warsaw by Aladdin.</p>
</footer>
</html>